<h1>StaticPage#help</h1>

<p>Find me in lib/sample_app_web/controllers/static_page_html/help.html.heex</p>

<p>Get Help on the Phoenix Tutorial at the <a href="#">Phoenix Tutorial help page</a>. To get help on this sample app, see the <a href="#"><em>Phoenix Tutorial</em> book</a>.</p>