<h1>StaticPage#home</h1>

<p><%= get_title(@conn) %></p>

<p>Find me in lib/sample_app_web/controllers/static_page_html/home.html.heex</p>

<p>This is the home page for the <a href="#">Phoenix Tutorial</a> sample application</p>